<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- @Controller annotation scan. -->
	<context:component-scan base-package="com.samsung.sse" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- properties loading -->
	<context:property-placeholder location="classpath:property/${server.type}/system.properties" />

	<!--  Enables the Spring MVC @Controller programming model -->
	<mvc:annotation-driven />
	<mvc:resources mapping="/chaton/**" location="/chaton/" />
	<mvc:resources mapping="/static/**" location="/static/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/doc/**" location="/doc/" />
	<mvc:resources mapping="/app_version_info/**" location="/app_version_info/${server.type}/" />


	<!-- ==================================================== -->
	<!-- Interceptor -->
	<!-- ==================================================== -->
	<mvc:interceptors>
       	<bean id="loggingInterceptor" class="com.samsung.sse.api.common.interceptor.LoggingInterceptor" />
       	<bean id="logInChkInterceptor" class="com.samsung.sse.api.common.interceptor.LogInChkInterceptor" />
	</mvc:interceptors>


	<!-- ==================================================== -->
	<!-- Exception Resolver -->
	<!-- ==================================================== -->
	<bean id="exceptionResolver" class="com.samsung.sse.api.common.resolver.UserHandleExceptionResolver" />


	<!-- ==================================================== -->
	<!-- View Resolver -->
	<!-- ==================================================== -->
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="defaultContentType" value="application/json" />
		<property name="ignoreAcceptHeader" value="true" />
		<property name="mediaTypes">
			<map>
				<entry key="json" value="application/json" />
			</map>
		</property>
		<property name="defaultViews">
			<list>
				<bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView">
					<property name="prefixJson" value="false" />
				</bean>
			</list>
		</property>
		<property name="order" value="0"/>
	</bean>


	<!-- ==================================================== -->
	<!-- File Upload Definition -->
	<!-- ==================================================== -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485769"></property>
        <property name="uploadTempDir" ref="uploadDirResource"></property>
    </bean>
    <bean id="uploadDirResource" class="org.springframework.core.io.FileSystemResource">
        <constructor-arg>
            <value>${upload.path}/temp</value>
        </constructor-arg>
    </bean>


</beans>